# === OS Files ===
# placeholder

# === VS code workspace settings ===
.DS_Store

# === Models ===
models/

# === Personal Files === 
*.pages
guidance/
supplementary_notebooks/
notebooks/guidlines_notebook/
notebooks/2_classes_exploration/

# === Local Training Files ===
# Ignore all files in directory notebooks/local_training, except for the notebook file 'local_object_detection.ipynb'
notebooks/local_training/*
!notebooks/local_training/local_object_detection.ipynb

# === Training Results ===
notebooks/google_colab/training_results/

# === Dataset Files ===
datasets/
notebooks/building_datasets/
# Exclusing all .geojson files
*.geojson

# === Technical Notebooks ===
notebooks/generating_tiles/
